@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Quicksand:wght@700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  color: #2c2f33;
}
body p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 2em;
  font-size: 2em;
}
@media (min-width: 992px) {
  body p {
    line-height: 1.7em;
    font-size: 1.2em;
  }
}
body a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 500;
  transition: color 0.25s ease;
}
@media (min-width: 992px) {
  body a {
    font-size: 1.2em;
  }
}
body a:hover, body a:focus {
  color: #ffcb8e;
}
body li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.7em;
  font-size: 1.2em;
  margin-left: 2em;
}
body h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 25em;
}
body h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5em;
}
@media (min-width: 992px) {
  body h2 {
    font-size: 3em;
  }
}
body h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 700;
}
@media (min-width: 992px) {
  body h3 {
    font-size: 4em;
  }
}
body h4 {
  font-family: "Montserrat", sans-serif;
  color: #ffa88e;
  font-weight: 700;
  font-size: 2.5em;
}
@media (min-width: 992px) {
  body h4 {
    font-size: 1.5em;
  }
}
body .primaryText {
  color: #ffa88e;
}
body .accentText {
  color: #ffcb8e;
}
body .whiteText {
  color: #ffffff;
}
body .darkText {
  color: #2c2f33;
}
body #navigation {
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-box-shadow: 5px 5px 40px 0px rgba(44, 47, 51, 0.1);
  -moz-box-shadow: 5px 5px 40px 0px rgba(44, 47, 51, 0.1);
  box-shadow: 5px 5px 40px 0px rgba(44, 47, 51, 0.1);
}
body #navigation a {
  padding-left: 1em;
  padding-right: 1em;
}
body #navigation .logo {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}
body #navigation #navigationContainer {
  display: flex;
}
body #header {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
}
body #idea {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffa88e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 992px) {
  body #idea {
    position: relative;
    display: block;
  }
}
@media (min-width: 992px) {
  body #idea #ideaMobileHeader {
    display: none;
  }
}
body #idea #ideaTextContainer {
  -webkit-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  -moz-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 3em;
  width: 90%;
  height: 70%;
  padding: 5%;
}
@media (min-width: 992px) {
  body #idea #ideaTextContainer {
    position: relative;
    left: 10%;
    top: 15%;
    padding: 5vh;
    width: 60%;
    height: 70%;
    padding-right: 20%;
  }
}
body #idea #ideaTextContainer #ideaHeader {
  display: none;
  justify-self: flex-start;
}
@media (min-width: 992px) {
  body #idea #ideaTextContainer #ideaHeader {
    display: flex;
  }
}
body #idea #ideaImgContainer {
  display: none;
  width: 40%;
  height: 60%;
  position: relative;
  right: -50%;
  top: -50%;
}
@media (min-width: 992px) {
  body #idea #ideaImgContainer {
    display: block;
  }
}
body #idea #ideaImgContainer img {
  width: 100%;
  height: 100%;
}
body #team {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body #team #teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 70%;
}
@media (min-width: 992px) {
  body #team #teamContainer {
    width: 70%;
    height: 50%;
    flex-direction: row;
    justify-content: space-between;
  }
}
body #team #teamContainer .personContainerRow {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 992px) {
  body #team #teamContainer .personContainerRow {
    width: 50%;
    height: 100%;
  }
}
body #team #teamContainer .personContainerRow .personContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
@media (min-width: 992px) {
  body #team #teamContainer .personContainerRow .personContainer {
    width: 36%;
  }
}
body #team #teamContainer .personContainerRow .personContainer .personSvg {
  width: 100%;
  height: auto;
}
body #team #teamContainer .personContainerRow .personContainer .personText {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #downloads {
  background-color: #ffa88e;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body #downloads #downloadContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 70%;
}
@media (min-width: 992px) {
  body #downloads #downloadContainer {
    flex-direction: row;
    width: 70%;
    height: 50%;
  }
}
body #downloads #downloadContainer .downloadCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
  border-radius: 3em;
  -webkit-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  -moz-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  transition: all 0.25s ease;
}
@media (min-width: 992px) {
  body #downloads #downloadContainer .downloadCard {
    height: 100%;
    width: 25%;
    flex-direction: column;
  }
}
body #downloads #downloadContainer .downloadCard i {
  font-size: 8em;
  color: #2c2f33;
  transition: color 0.25s ease;
}
body #downloads #downloadContainer .downloadCard a {
  font-size: 1.6em;
  font-weight: 700;
}
body #downloads #downloadContainer .downloadCard:hover, body #downloads #downloadContainer .downloadCard:focus-within {
  cursor: pointer;
}
@media (min-width: 992px) {
  body #downloads #downloadContainer .downloadCard:hover, body #downloads #downloadContainer .downloadCard:focus-within {
    transform: scale(1.03);
    -webkit-box-shadow: 6px 6px 45px -11px rgba(44, 47, 51, 0.8);
    -moz-box-shadow: 6px 6px 45px -11px rgba(44, 47, 51, 0.8);
    box-shadow: 6px 6px 45px -11px rgba(44, 47, 51, 0.8);
  }
}
body #downloads #downloadContainer .downloadCard:hover i, body #downloads #downloadContainer .downloadCard:focus-within i {
  color: #ffcb8e;
}
body #downloads #downloadContainer .downloadCard:hover a, body #downloads #downloadContainer .downloadCard:focus-within a {
  color: #ffcb8e;
}
body #sponsors {
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body #sponsors #sponsorContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 70%;
}
@media (min-width: 992px) {
  body #sponsors #sponsorContainer {
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    height: 50%;
  }
}
body #sponsors #sponsorContainer .sponsorSvgContainer {
  width: 80%;
  height: auto;
}
@media (min-width: 992px) {
  body #sponsors #sponsorContainer .sponsorSvgContainer {
    width: 40%;
  }
}
body #sponsors #sponsorContainer .sponsorSvgContainer .sponsorSvg {
  width: 100%;
  height: 100%;
}
body #contact {
  background-color: #ffa88e;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body #contact #contactContainer {
  -webkit-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  -moz-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  background-color: #ffffff;
  border-radius: 3em;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}
@media (min-width: 992px) {
  body #contact #contactContainer {
    width: 60vh;
    height: 80vh;
    padding: 5vh;
  }
}
body #contact #contactContainer #submit {
  height: 3.5em;
  width: 100%;
  background-color: #ffcb8e;
  border-radius: 3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #ffffff;
  outline: 0;
  border: none;
  transition: background-color 0.25s ease;
}
@media (min-width: 992px) {
  body #contact #contactContainer #submit {
    height: 3em;
    font-size: 1.2em;
  }
}
body #contact #contactContainer #submit:hover {
  cursor: pointer;
  background-color: #ffa88e;
}
body #contact #contactContainer #submit:focus {
  cursor: pointer;
  background-color: #ffa88e;
}
body #contact #contactContainer #inputGroup {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  body #contact #contactContainer #inputGroup {
    height: 50vh;
  }
}
body #contact #contactContainer #inputGroup textarea {
  height: 26em;
  width: 100%;
  background-color: #e3e3e3;
  border-radius: 1.5em;
  padding-top: 0.9em;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #2c2f33;
  border: none;
  outline: 0;
  resize: none;
}
@media (min-width: 992px) {
  body #contact #contactContainer #inputGroup textarea {
    font-size: 1.2em;
    height: 15em;
  }
}
body #contact #contactContainer #inputGroup .inputContainer {
  height: 5em;
  width: 100%;
  background-color: #e3e3e3;
  border-radius: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 992px) {
  body #contact #contactContainer #inputGroup .inputContainer {
    height: 3em;
    font-size: 1.2em;
  }
}
body #contact #contactContainer #inputGroup .inputContainer i {
  color: #2c2f33;
  font-size: 2.5em;
  transition: color 0.25s ease;
}
@media (min-width: 992px) {
  body #contact #contactContainer #inputGroup .inputContainer i {
    font-size: 1.5em;
  }
}
body #contact #contactContainer #inputGroup .inputContainer input {
  height: 100%;
  width: 80%;
  background-color: #e3e3e3;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #2c2f33;
}
@media (min-width: 992px) {
  body #contact #contactContainer #inputGroup .inputContainer input {
    font-size: 1.2em;
  }
}
body #contact #contactContainer #inputGroup .inputContainer input:focus {
  outline: 0;
}
body #contact #contactContainer #inputGroup .inputContainer:focus-within i {
  color: #ffcb8e;
}
body #impressum {
  background-color: #ffa88e;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
body #impressum #impressumContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 60%;
  background-color: #ffffff;
  padding: 7vh;
  border-radius: 3em;
  -webkit-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  -moz-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
}
body #impressum #impressumContainer .impressumInformationContainer {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body #impressum #impressumContainer .impressumInformationContainer i {
  color: #ffcb8e;
  font-size: 10em;
}
body #impressum #impressumContainer .impressumInformationContainer div {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #impressum #impressumContainer .impressumInformationContainer div div {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body #privacy {
  background-color: #ffa88e;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10vh;
}
body #privacy h2 {
  margin-top: 5vh;
  margin-bottom: 10vh;
}
body #privacy #privacyContainer {
  width: 70%;
  background-color: #ffffff;
  padding: 5vh;
  padding-bottom: 0;
  border-radius: 3em;
  -webkit-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  -moz-box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
  box-shadow: 5px 5px 40px -11px rgba(44, 47, 51, 0.61);
}
body #privacy #privacyContainer section {
  margin-bottom: 5vh;
}
body #privacy #privacyContainer section p {
  margin-bottom: 0.5vh;
}
body #privacy #privacyContainer section h3 {
  color: #ffcb8e;
  margin-bottom: 2.5vh;
}
body #footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #2c2f33;
  color: #ffffff;
  height: 10vh;
  width: 100%;
}
@media (min-width: 992px) {
  body #footer {
    padding-left: 15%;
    padding-right: 15%;
    flex-direction: row;
    justify-content: space-between;
  }
}
body #footer p {
  line-height: normal;
}
body #footer #footer_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}
@media (min-width: 992px) {
  body #footer #footer_right {
    justify-content: space-between;
    width: 30%;
  }
}

/*# sourceMappingURL=index.css.map */
